// COLOR
$color-primary: #0977be;
$color-primary-light: #1e95dd;
$color-primary-dark: #0977be;

$color-red: #f94759;
$color-red-light: #ffe0e0;

$color-grey: #94969b;
$color-grey-light: #c0c2c6;

$color-dark-title: #1c1d20;
$color-dark-text: #333539;

$color-white: #fff;
$color-black: #000;
