.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .container {
    // .card-list {
    //   margin: 0 -12px 0 -12px;
    //   .card-banner {
    //     padding-left: 12px;
    //     padding-right: 12px;
    //     img {
    //       width: 100%;
    //     }
    //   }
    // }

    .card-list {
      .slick-track {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        margin-left: 1.5px;
        .slick-slide {
          .card-banner {
            img {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
