.card-banner {
  border-radius: 10px;
  background-color: #fff;
  img {
    width: 100%;
    max-height: 96px;
    border-radius: 10px 10px 0 0;
  }
  .card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .category {
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      color: #94969b;
      mix-blend-mode: normal;
      opacity: 0.9;
      margin-bottom: 5.5px;
    }
    .title {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: #1c1d20;
      margin-bottom: 9.5px;
    }
    .rating {
      font-weight: bold;
      font-size: 10.9439px;
      line-height: 13px;
      color: #3e3f43;
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      gap: 4px;
      span {
        font-weight: 500;
        opacity: 0.9;
        margin-left: 2px;
      }
    }
    .discount {
      font-size: 10.5px;
      line-height: 13px;
      margin-bottom: 8.5px;
      .total-discount {
        font-weight: 800;
        color: #f94759;
        background-color: #ffe0e0;
        border-radius: 3px;
        margin-right: 9.5px;
      }
      .original-price {
        font-weight: 500;
        text-decoration-line: line-through;
        color: #94969b;
      }
    }
    .price {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: #1c1d20;
    }
  }
  img {
    width: 100% !important;
  }
}
